nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Hide the mobile navigation by default */
.mobile-nav {
    display: none;
}

/* Mobile navigation styling */
.mobile-nav select {
    display: none; /* Hide the default select element */
}

.mobile-menu-toggle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #303952;
    color: white;
    padding: 15px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
}

.mobile-menu-toggle span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: white;
    margin-bottom: 5px;
}

.mobile-menu-label {
    margin-left: 10px;
    color: white;
    font-size: 16px;
    text-align: right;
}

.mobile-nav-list {
    display: none;
    id: mobileNav;
}

.mobile-nav-menu:not(.hidden) {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 100%; 
    left: 0;
    background: #303952;
    padding: 10px 0;
    z-index: 2;
}
.mobile-nav-menu li {
    width: 100%;
    color: white;
    padding: 10px;
    cursor: pointer;
}
.mobile-nav-menu li:hover {
    background: #3e4a63;
}

/* Show the mobile navigation and hide the desktop navigation when the screen size is 768px or less */
@media screen and (max-width: 768px) {
    .desktop-nav {
        display: none;
    }
    .mobile-nav {
        display: block;
    }
    
    .mobile-menu-toggle {
        display: flex;
    }
    
    .mobile-nav-list {
        display: block;
    }
}
