body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat/static/Montserrat-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat/static/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


body {
    font-family: 'Montserrat', Arial, sans-serif; /* Replace with the name of your font and choose appropriate fallbacks */
    padding-top: 70px; 
}

@font-face {
    font-family: 'Exo_2';
    src: url('fonts/Exo_2/static/Exo2-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Exo_2/static/Exo2-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* Header styles */
header {
    position: fixed; /* Fix the position of the header */
    top: 0; /* Align it to the top */
    width: 100%; /* Make it span the entire width */
    background-color: #303952;
    padding: 5px 0;
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
    z-index: 1000; /* This will ensure the header stays above all other content */
}


/* This sets the header font to Copperplate */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Exo_2', 'Copperplate Gothic Light', monospace;
}

nav li a {
    font-family: 'Exo_2', 'Copperplate Gothic Light', monospace;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
}


.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between; /* This will create space between the logo and the nav */
    max-width: 1200px; /* You can adjust this value */
    margin: 0 auto; /* This will center the .header-content */
    padding: 0 20px; /* This will give some space on the left and right */
}

#logo {
    height: 50px; /* Adjust as needed */
    width: auto;
    margin-right: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu-container {
    display: flex;
    align-items: center;
}


/* Hide the mobile navigation by default */
.mobile-nav {
    display: none;
}

/* Mobile navigation styling */
.mobile-nav select {
    display: none; /* Hide the default select element */
}

.mobile-menu-toggle {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #303952;
    color: white;
    padding: 15px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
}


.mobile-menu-toggle span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: white;
    margin-bottom: 5px;
}

.mobile-menu-label {
    margin-left: 10px;
    color: white;
    font-size: 16px;
    text-align: right;
}

.mobile-nav-list {
    display: none;
    id: mobileNav;
}

.mobile-nav-menu:not(.hidden) {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 100%; 
    left: 0;
    background: #303952;
    padding: 10px 0;
    z-index: 2;
}

.mobile-nav-menu li {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-family: 'Exo_2', 'Copperplate Gothic Light', monospace;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
    cursor: pointer;
}

.mobile-nav-menu li:hover {
    background: #3e4a63;
    text-decoration: none;
}


/* Show the mobile navigation and hide the desktop navigation when the screen size is 768px or less */
@media screen and (max-width: 768px) {
    .desktop-nav {
        display: none;
    }
    .mobile-nav {
        display: block;
    }
    
    .mobile-menu-toggle {
        display: flex;
    }
    
    .mobile-nav-list {
        display: block;
    }
}




/* Section styles */
section {
    padding: 20px;
    margin-bottom: 10px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #303952;
    color: white;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0px -5px 10px rgba(0,0,0,0.3);
}

#instagram-logo,
#site-logo {
    height: 40px; /* adjust as needed */
    width: auto;
}

#instagram-logo img,
#site-logo img {
    max-height: 100%;
    width: auto;
    border-radius: 50%; /* This will make the corners fully rounded */
}

.spaced {
    margin-bottom: 20px;
}

img#logo {
    width: 200px;
    height: auto;
}

.red-header {
    color: red;
}

.green-header {
    color: green;
}

.grey-header {
    color: grey;
}

.article-content {
    margin: 10px 350px 75px 350px;
}

/* This will apply if the viewport is 600px or less */
@media (max-width: 600px) {
    .article-content {
        margin: 10px 20px 75px 20px;
    }
}

.article-content .in-article-photo {
    display: block;
    width: 100%;
    height: auto; /* Optional, to maintain aspect ratio */
    margin: 0 auto; /* Centers image if it's width is less than 100% */
}

.image-container {
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}

.image-container img {
    display: block;
    position: relative;
    z-index: 1;
}

.image-container::before, .image-container::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
}

.image-container::before {
    left: 0;
    background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}

.image-container::after {
    right: 0;
    background: linear-gradient(to left, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    /* Hide the overlay on desktop */
    display: none;
    z-index: 2; /* Add this line */
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

/* Show the overlay on mobile */
@media (max-width: 600px) {
    .overlay {
        display: flex;
    }
}





#latest-and-trending {
    /* Add a black background and some padding */
    background-color: #303952;
    color: white; /* Make text white so it's visible on the black background */
    padding: 20px;
}

#latest-and-trending h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: white;
}

#latest-and-trending article {
    display: flex;
    align-items: start; /* Align the image and text at their tops */
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out; /* Smooth transition */
    position: relative; /* New line */
    background: linear-gradient(to right, #333, #666); /* Gradient background */
    color: white; /* Color of the text */
    padding: 10px; /* Some padding around the content */
}

#latest-and-trending article::before {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 2px; /* This is the width of the vertical bar */
    left: 0;
    background-color: white;
}

#latest-and-trending article:hover {
    transform: scale(1.03); /* Slightly enlarge the article when hovered */
    cursor: pointer;
}

#latest-and-trending article img {
    height: 70px;
    width: 70px;
    margin-right: 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5); /* Add shadow effect */
}

#latest-and-trending article div {
    /* Add some space between the image and the text */
    margin-left: 10px;
}

#latest-and-trending article h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 5px 0; /* Add some space below the title */
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

#latest-and-trending article p {
    font-size: 14px;
    margin: 0;
}

#latest-and-trending a {
    display: flex;
    align-items: start;
    color: white;
    text-decoration: none;
}

#trending {
    border-bottom: 4px solid white;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.video-description {
    font-style: italic; /* This is just an example, you can use any CSS properties here */
    color: #888;
    font-size: 0.8em;
    margin-bottom: 20px;
}

.underline-heading {
    text-decoration: underline;
}

@font-face {
    font-family: 'League Script';
    src: url('fonts/League_Script/LeagueScript-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.signature {
    font-family: 'League Script', Arial, sans-serif;
    font-size: 2em; /* adjust this value to your preference */
}

#about {
    margin: 50px;
    padding-top: 80px; /* height of the header + a bit of extra space */
}

#about::before {
    content: "";
    display: block;
    height: 60px;  /* Adjust this value to match your actual header height */
    margin-top: -60px;  /* Adjust this value to match your actual header height */
    visibility: hidden;
    pointer-events: none;
}


#all-articles {
    background-color: #303952;
    color: white;
    padding: 20px;
}

#all-articles h2 {
    font-size: 3em;
    margin-bottom: 2em;
    color: white;
}

#all-articles article {
    display: flex;
    flex-direction: column;
    align-items: center; /* Change from start to center */
    margin-bottom: 2em;
    transition: transform 0.3s ease-in-out;
    position: relative;
    background: linear-gradient(to right, #333, #666);
    color: white;
    padding: 1em;
}

#all-articles article img {
    max-width: 100%;  /* Set a max-width */
    max-height: 400px;  /* Set a max-height */
    width: auto;
    height: auto;
    margin-right: 1em;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}

#all-articles article div {
        margin-left: 1em;
    }
}

#all-articles article::before {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 4px;
    left: 0;
    background-color: white;
}

#all-articles article:hover {
    transform: scale(1.03);
    cursor: pointer;
}

#all-articles article img {
    height: auto;
    width: 100%;
    margin-right: 1em;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}

#all-articles article div {
    /* Removed margin-left from here */
}

#all-articles article h3 {
    font-size: 2em;
    font-weight: bold;
    margin: 0 0 0.5em 0;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

#all-articles article p {
    font-size: 1.5em;
    margin: 0;
}

#all-articles a {
    display: flex;
    align-items: start;
    color: white;
    text-decoration: none;
}

#contact {
    padding-bottom: 100px; /* Adjust as necessary */
}

#contact-submission {
    margin: 20px; /* Use smaller margin for mobile */
    padding: 30px;
    background-color: #f2f2f2;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    word-wrap: break-word; /* This will break the line at the edge of the box */
}

#contact-submission h1 {
    font-size: 30px; /* Adjust the size as needed */
}

#contact-submission p {
    font-size: 18px; /* Adjust the size as needed */
}

.video-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hidden {
    display: none;
}

/* ... rest of your CSS ... */

@media (max-width: 600px) {
    .overlay {
        display: flex;
    }

    .info-desktop {
        display: none;
    }
}

/* This will apply if the viewport is 600px or more */
@media (min-width: 600px) {
    #contact-submission {
        margin: 100px; /* Use larger margin for desktop */
    }
}

@media (min-width: 600px) {
    #all-articles article {
        flex-direction: row;
        align-items: start; /* Align items to start on larger screens */
    }

    #all-articles article img {
        max-width: 200px;  /* Set a smaller max-width */
        max-height: 140px;  /* Set a smaller max-height */
        margin-right: 1em;
    }
}

@media (max-width: 600px) {
    #all-articles article {
        display: flex;
        flex-direction: row;
        align-items: start;
    }
    #all-articles article img {
        height: 70px;
        width: 70px;
        margin-right: 10px;
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    }
    #all-articles article div {
        margin-left: 10px;
    }
}

@media only screen and (max-width: 600px) {
  #all-articles a {
    flex-direction: column;
    align-items: center;
  }
  #all-articles article img {
    margin-right: 0;
  }
  #all-articles article div {
    margin-left: 0;
  }
}

@media screen and (min-width: 769px) {
    .mobile-nav-list {
        display: none;
    }
